<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parcial_1_am_acn4av_rodrigo_sepulveda">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parcial1amacn4avrodrigosepulveda"
        tools:targetApi="31">

        <!-- Actividad de Login (Principal) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <!-- Actividad principal después del Login -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Actividad de detalles de producto -->
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />

        <!-- Actividad de la lista de productos -->
        <activity
            android:name=".ProductListActivity"
            android:exported="true" />

        <!-- Actividad de edición de perfil -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="true"/>
    </application>
</manifest>
